<table>
  <tbody>
    <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, size: "50x50", class: 'rounded-circle' %>
        <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td><%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: "ml-3 btn btn-sm btn-outline-danger float-end" %></td>
    </tr>
    <% end %>
  </tbody>
</table>