<div class="card-deck">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title"><%= schedule.destination %></h4>
      <p class="card-text">
        <i class="fa-solid fa-calendar-days mr-4" style="color: #07a0ab;"></i><%= schedule.date %><br>
        <i class="fa-solid fa-truck-plane mr-3" style="color: #07a0ab;"></i><%= schedule.transportation %>
      </p>
    </div>
  </div>
</div>