<table class="mb-3">
  <tr>
    <th class="col-lg-2" style="background-color: #aeeaef;">日付</th>
    <td class="text p-2"><%= schedule.date %></td>
  </tr>
  <tr>
    <th class="col-lg-2" style="background-color: #aeeaef;">行先</th>
    <td class="text p-2"><%= schedule.destination %></td>
  </tr>
  <tr>
    <th class="col-lg-2" style="background-color: #aeeaef;">移動手段</th>
    <td class="text p-2"><%= schedule.transportation %></td>
  </tr>
</table>