<table class="table table-borderless">
  <thead style="background-color: #e9ecef;">
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
  <% @trips.each do |trip| %>
    <tr>
      <td class="align-middle"><%=link_to trip.title, trip_path(trip.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>