<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="m-3"><strong>「<%= @word %>」</strong>の検索結果</h2>
      <hr>
      <div class="row">
        <% @posts.each do |post| %>
        <div class="col-4">
          <div class="card">
            <div class="card-body"><%= link_to post.title, public_post_path(post.id) %></div>
            <img class="card-img-bottom"><%= image_tag post.get_post_image, size:'50×50' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>