<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="m-3"><strong>「<%= @word %>」</strong>の検索結果</h2>
      <hr>
      <%= render 'public/posts/index', post: @post %>
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>