<div class="container">
  <div class="row m-5">
    <div class="mx-auto">
      <div class="row m-5">
        <h1>旅TOMO!</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>
        あなただけの「旅のしおり」を作ろう！<br />
        あなたの旅のお供になります
      </h6>
    </div>
    <div class="col">
      <h6>
        思い出を残そう！<br />
        写真と一緒に投稿することができます
      </h6>
    </div>
    <div class="col">
      <h6>
        スキ！旅を見つけよう！<br />
        旅好きさんと交流できます
      </h6>
    </div>
  </div>
</div>
