.simple-calendar {
  .day {
    background: #fff9ee;
  }
  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }
  .today {
    background: #FFA0A0;
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month {}
  .current-month {}
  .has-events {}
}
/* ホバーした際の背景色*/
.calendar-table tr td:hover {
  background-color: #FFFF8c;
}