<div class="container p-4">
  <div class="row">
    <div class="col">
      <h2 class="mb-4 text-center">会員一覧</h2>

      <table class="table table-borderless">
        <thead style="background-color: #e9ecef;">
          <tr>
            <th>アイコン</th>
            <th>会員ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle"><%= image_tag user.get_profile_image, size:'100x100' %></td>
            <td class="align-middle"><%= user.id %></td>
            <td class="align-middle"><%=link_to user.name, admin_user_path(user.id) %></td>
            <td class="align-middle"><%= user.email %></td>
              <% if user.is_active == true %><!--customerのステータスが有効の時-->
                <td class="text-success align-middle">有効</td>
              <% else %><!--それ以外-->
                <td class="text-secondary align-middle">退会済</td>
              <% end %><!--ifのend-->
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
