<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="m-3">ユーザー一覧</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-borderless">
        <thead style="background-color: #5c8cd1;">
          <tr>
            <th></th>
            <th>会員ID</th>
            <th>名前</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="d-flex justify-content-center"><%= image_tag user.get_profile_image, size:'100x100', class: 'rounded-circle' %></td>
            <td class="align-middle"><%= user.id %></td>
            <td class="align-middle"><%=link_to user.name, admin_user_path(user.id) %></td>
            <% if user.is_active == true %><!--customerのステータスが有効の時-->
              <td class="text-success align-middle">有効</td>
            <% else %><!--それ以外-->
              <td class="text-secondary align-middle">退会済</td>
            <% end %><!--ifのend-->
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
