<div class="d-flex justify-content-center"><%= image_tag user.get_profile_image, size:'150x150' %></div>

<div class="card m-3">
  <div class="card-header" style="background-color: secondary;">
    <b class="d-flex justify-content-center"><%= user.name %></b>
  </div>
  <div class="card-body">
    <p class="card-text"><%= user.introduction %></p>
  </div>
</div>
<%= link_to "プロフィール編集", users_information_edit_path, class: "btn btn-outline-info btn-block edit_user_#{user.id}" %>