<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="m-3">お気に入り一覧</h2>
      <hr>
      <div class="row">
        <% @favorite_posts.each do |post| %>
        <div class="col-2 m-2">
          <div class="card">
            <div class="card-body"><%= link_to post.title, post_path(post.id) %></div>
            <img class="card-img-bottom"><%= image_tag post.get_post_image, size:'50×50' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>